<div>
    <div class="logo">Wave Logo</div>
    <div class="user-login">User login</div>
    <div class="eaddress">Email Address</div>
    <div class="form" [formGroup]="forgotForm">
        <div class="formfield">
            <mat-form-field class="mat-form-field">
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
    </div>
    <div class="password">Password</div>
    <div class="form" [formGroup]="forgotForm">
        <div class="passwdfield">
            <mat-form-field class="mat-form-field">
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
    </div>
    <div class="btnrow">
        <div class="frgttext"><a (click)="navigateTo()">Forgot password?</a></div>
        <div class="signbtn">Sign In</div>
    </div>
</div>
