.logo{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #DEDEDE;
    text-align: center;
}
.reset-passwd{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #EBEBEB;
    flex-grow: 0;
    margin-top: 7%;
    text-align: center;
}
.npasswd{
    position: static;
    padding-top: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #A3A3A3;
    margin-left: 6%;
}
.cpasswd{
    position: static;
    padding-top: 6%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #A3A3A3;
    margin-left: 6%;
}
.form{
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #3D3D3D;
    color: #EBEBEB;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 6%;
}
.mat-form-field{
    position: static;
    width: 100%;
}
.submitbtn{
    position: static;
    flex-wrap: wrap;
    color: #E0E0E0;
    padding: 3% 6%;
    background: #1F1F1F;
    border-radius: 4px;
    cursor: pointer;
}
.btn-div{
    margin-top: 2%;
    position: static;
    display: flex;
    justify-content: flex-end;
}
.passwrd-class ::ng-deep .mat-form-field-underline {
    height: 1px;
    background-color: #ffffff;
}
.passwrd-class ::ng-deep .mat-form-field-ripple{
    background-color: #ffffff !important;
}