*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container{
    margin: auto;
}

/* width below 450px  */
@media (max-width: 455px) {
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        width: 16%;
        height: 100%;
        padding: 0% 0%;
        transition: all 0.4s ease;
    }
    .sidebar .logo_content{
        z-index: 3;
    }
    .sidebar .logo_content .logo{
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 5rem;
        width: 100%;
        justify-content: center;
        transition: all 0.5s ease;
        background: #F4F6FA;
    }
    .sidebar #btn{
        position: absolute;
        color: #606570;
        left: 50%;
        /* top: 8%; */
        top: 10px;
        font-size: 3rem;
        height: 5rem;
        width: 5rem;
        text-align: center;
        line-height: 100%;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .sidebar ul{
        display: none;
    }
    .sidebar ul li a i{
        color: transparent;
    }
    .sidebar.active ul{
        display: block;
    }
    .sidebar.active .nav_list{
        background: #F4F6FA;
    }
    .sidebar.active ul li{
        position: relative;
        height: 5rem;
        width: 100%;
        margin: 0 1%;
        list-style: none;
        /* line-height: 11rem; */
        height: 100%;
    }
    .sidebar.active ul li a{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar.active ul li a:hover{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        background: #D8E2FF;
        border-radius: 50%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar.active ul li a:hover i{
        color: #2E7BF1;
    }
    .sidebar.active ul li a i{
        height: 6rem;
        /* min-width: 6rem; */
        min-width: -webkit-fill-available;
        line-height: 6rem;
        border-radius: 12px;
        text-align: center;
        font-size: 1.5rem;
        color: #606570;
    }
    .home_content{
        position: relative;
        height: 100%;
        width: calc(100% - 0%);
        left: 0%;
        top: 5rem;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .sidebar.active ~ .home_content{
        width: calc(100% - 16%);
        left: 16%;
        top: 0;
        transition: all 0.5s ease;
    }
    .circle{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        min-width: 4rem;
        background: #263059;
    }
}
/* width above 455px  */
@media (min-width: 455px){
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 14%;
        background: #F4F6FA;
        padding: 1% 0%;
        transition: all 0.4s ease;
    }
    .sidebar .logo_content .logo{
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 5rem;
        width: 100%;
        justify-content: center;
        transition: all 0.5s ease;
    }
    .sidebar #btn{
        position: absolute;
        color: #606570;
        left: 50%;
        top: 5%;
        font-size: 28px;
        height: 5rem;
        width: 5rem;
        text-align: center;
        line-height: 100%;
        transform: translateX(-50%);
    }
    .sidebar ul{
        margin-top: 35%;
    }
    .sidebar ul li{
        position: relative;
        height: 5rem;
        width: 100%;
        margin: 0 1%;
        list-style: none;
        /* line-height: 11rem; */
        height: 100%;
    }
    .sidebar ul li a{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        background: #D8E2FF;
        border-radius: 50%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover i{
        color: #2E7BF1;
    }
    .sidebar ul li a i{
        height: 6rem;
        min-width: -webkit-fill-available;
        line-height: 6rem;
        border-radius: 12px;
        text-align: center;
        font-size: 1.5rem;
    }
    .home_content{
        position : relative;
        height: 100%;
        width: calc(100% - 14%);
        left: 14%;
        transition: all 0.5s ease;
    }
    .home_content .text{
        /* margin: 1%; */
        color: #000;
    }
    .circle{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        min-width: 4rem;
        background: #263059;
    }
}
/* width above 600px */
@media only screen and (min-width: 600px) {
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 9%;
        background: #F4F6FA;
        padding: 1% 0%;
        transition: all 0.4s ease;
    }
    .sidebar .logo_content .logo{
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 5rem;
        width: 100%;
        justify-content: center;
        transition: all 0.5s ease;
    }
    .sidebar #btn{
        position: absolute;
        color: #606570;
        left: 50%;
        top: 1%;
        font-size: 28px;
        height: 5rem;
        width: 5rem;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
    }
    .sidebar ul{
        margin-top: 35%;
    }
    .sidebar ul li{
        position: relative;
        height: 5rem;
        width: 100%;
        margin: 0 1%;
        list-style: none;
        height: 100%;
    }
    .sidebar ul li a{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        background: #D8E2FF;
        border-radius: 50%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover i{
        color: #2E7BF1;
    }
    .sidebar ul li a i{
        height: 6rem;
        min-width: 5rem;
        line-height: 6rem;
        border-radius: 12px;
        text-align: center;
        font-size: 1.5rem;
    }
    .home_content{
        position:relative;
        height: 100%;
        width: calc(100% - 9%);
        left: 9%;
        transition: all 0.5s ease;
    }
    .home_content .text{
        color: #000;
    }
    .circle{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        min-width: 4rem;
        background: #263059;
    }
}
/* width above 768px */
@media only screen and (min-width: 768px) {
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 7.5%;
        background: #F4F6FA;
        padding: 1% 0%;
        transition: all 0.4s ease;
    }
    .sidebar ul li a .links_name{
        color: transparent;
    }
    .sidebar .logo_content .logo{
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 5rem;
        width: 5rem;
        justify-content: center;
        transition: all 0.5s ease;
        margin: auto;
    }
    .sidebar #btn{
        position: absolute;
        color: #606570;
        left: 50%;
        top: 5%;
        font-size: 28px;
        height: 5rem;
        width: 5rem;
        text-align: center;
        line-height: 100%;
        transform: translateX(-50%);
    }
    .sidebar ul{
        margin-top: 35%;
    }
    .sidebar ul li{
        position: relative;
        height: 5rem;
        width: 100%;
        margin: 0 1%;
        list-style: none;
        height: 100%;
    }
    .sidebar ul li a{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover i{
        color: #2E7BF1;
    }
    .sidebar ul li a i{
        border-radius: 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .home_content{
        position:relative;
        height: 100%;
        width: calc(100% - 7.5%);
        left: 7.5%;
        transition: all 0.5s ease;
    }
    .home_content .text{
        /* margin: 1%; */
        color: #000;
    }
    .circle{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        min-width: 4rem;
        background: #263059;
    }
} 
/* width above 992px */
@media only screen and (min-width: 992px) {
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 6%;
        background: #F4F6FA;
        padding: 1% 0%;
        transition: all 0.4s ease;
    }
    .sidebar .logo_content .logo{
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 5rem;
        width: 100%;
        justify-content: center;
        transition: all 0.5s ease;
    }
    .sidebar #btn{
        position: absolute;
        color: #606570;
        left: 50%;
        top: 5%;
        font-size: 28px;
        height: 5rem;
        width: 5rem;
        text-align: center;
        line-height: 100%;
        transform: translateX(-50%);
    }
    .sidebar ul{
        margin-top: 35%;
    }
    .sidebar ul li{
        position: relative;
        width: 100%;
        margin: 0 1%;
        list-style: none;
        height: 100;
    }
    .sidebar ul li a{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover{
        width: 4rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 5%;
        background: #D8E2FF;
        border-radius: 100%;
        justify-content: center;
        height: 4rem;
        margin: auto;
    }
    .sidebar ul li a:hover i{
        color: #2E7BF1;  
    }
    .sidebar ul li a i{
        border-radius: 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .home_content{
        position:relative;
        height: 100%;
        width: calc(100% - 6%);
        left: 6%;
        transition: all 0.5s ease;
        overflow-x: hidden;
    }
    .home_content .text{
        color: #000;
    }
    .circle{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        min-width: 4rem;
        background: #263059;
    }
}
/* width above 1200px */
@media only screen and (min-width: 1200px) {
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 5%;
        background: #F4F6FA;
        padding: 1% 0%;
        transition: all 0.4s ease;
    }
    .sidebar .logo_content .logo{
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 5rem;
        width: 100%;
        justify-content: center;
        transition: all 0.5s ease;
    }
    .sidebar #btn{
        position: absolute;
        color: #606570;
        left: 45%;
        top: 5%;
        font-size: 28px;
        height: 5rem;
        width: 5rem;
        text-align: center;
        line-height: 100%;
        transform: translateX(-50%);
    }
    .sidebar ul{
        margin-top: 35%;
    }
    .sidebar ul li{
        position: relative;
        width: 100%;
        margin: 0 1%;
        list-style: none;
        height: 100%;
    }
    .sidebar ul li a{
        width: 6rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 6rem;
        margin: auto;
    }
    .sidebar ul li a:hover{
        width: 6rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;
        background: #D8E2FF;
        padding: 5%;
        justify-content: center;
        height: 6rem;
        margin: auto;
    }
    .sidebar ul li a:hover i{
        color: #2E7BF1;
    }
    .sidebar ul li a i{
        border-radius: 1rem;
        text-align: center;
        font-size: 1.8rem;
    }
    .home_content{
        position:relative;
        height: 100%;
        width: calc(100% - 5%);
        left: 5%;
        transition: all 0.5s ease;
        overflow-x: hidden;
    }
    .circle{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        min-width: 4rem;
        background: #263059;
    }
}
/* width above 1584px */
@media only screen and (min-width: 1584px) {
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 4%;
        background: #F4F6FA;
        padding: 1% 0%;
        transition: all 0.4s ease;
    }
    .sidebar .logo_content .logo{
        color: #ffffff;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        transition: all 0.5s ease;
    }
    .sidebar #btn{
        position: absolute;
        color: #606570;
        left: 50%;
        top: 12%;
        font-size: 28px;
        height: 5rem;
        width: 5rem;
        text-align: center;
        line-height: 100%;
        transform: translateX(-50%);
        /* cursor: pointer; */
    }
    .sidebar ul{
        margin-top: 35%;
    }
    .sidebar ul li{
        position: relative;
        width: 100%;
        margin: 0 1%;
        list-style: none;
        height: 100%;
    }
    .sidebar ul li a{
        width: 8rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 8rem;
        margin: auto;
    }
    .sidebar ul li a:hover{
        width: 8rem;
        color: #606570;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        padding: 5%;
        justify-content: center;
        height: 8rem;
        margin: auto;
    }
    .sidebar ul li a:hover i{
        color: #2E7BF1;
        background: #D8E2FF;
        border-radius: 50%;
    }
    .sidebar ul li a i{
        border-radius: 1rem;
        text-align: center;
        font-size: 2.5rem;
    }
    .home_content{
        position:relative;
        height: 100%;
        width: calc(100% - 4%);
        left: 4%;
        transition: all 0.5s ease;
        overflow-x: hidden;
    }
    .circle{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        min-width: 4rem;
        background: #263059;
    }
}
