<div class="wrapper">
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-menu-alt-left' id="btn" (click)="btnClick()"></i>
            </div>
        </div>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class='bx bxs-home'></i>
                    <span class="links_name">Home</span>
                </a>
            </li>
            <li>
                <a href="dashboard/contacts">
                    <i class='bx bxs-contact'></i>
                    <span class="links_name">Contacts</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-file-blank'></i>
                    <span class="links_name">Files</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-time-five'></i>
                    <span class="links_name">Timer</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-data'></i>
                    <span class="links_name">Data</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-calendar'></i>
                    <span class="links_name">Schedules</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Settings</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="home_content">
        <div class="container-fluid text">
            Home Content goes here!
            <router-outlet></router-outlet>
        </div>
    </div>
</div>