<div class="wrapper">
    <div *ngIf="showSideNav()" class="sidebar">
        <div class="logo_content">
            <div class="logo" (click)="btnClick()">
                <i class='bx bx-menu-alt-left' id="btn"></i>
            </div>
        </div>
        <ul *ngIf="sidebar?.classList?.value.includes('active')" class="nav_list">
            <li>
                <div>
                    <a href="#">
                        <i class='bx bxs-home'></i>
                    </a>
                </div>
            </li>
            <li>
                <a href="dashboard/calender">
                    <i class='bx bxs-contact'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-file-blank'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-time-five'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-data'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-calendar'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                </a>
            </li>
        </ul>
    </div>
    <div *ngIf="outer_width > 455" class="sidebar"> 
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-menu-alt-left' id="btn" (click)="btnClick()"></i>
            </div>
        </div>
        <ul class="nav_list">
            <li>
                <div>
                    <a href="#">
                        <i class='bx bxs-home'></i>
                    </a>
                </div>
            </li>
            <li>
                <a href="dashboard/calender">
                    <i class='bx bxs-contact'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-file-blank'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-time-five'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-data'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-calendar'></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                </a>
            </li>
        </ul>
    </div> 
    <div class="home_content">
        <div class="container-fluid text">
            <div class="router-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>