<div class="srearch-room-wrapper container-fluid">
    <div class="container">
        <div class="row block-header">
            <div class="col-xs-12">
                <div class="searchroom-header">
                    Search Room 
                </div>
                <div class="searchroom-header-tag">
                    Search available room for reservation
                </div>
            </div>
        </div>
        <div class="row date-row">
            <div class="col-xs-12">
                <div class="row check-in-out-row">
                    <div class="col-xs-6 check-in-col">
                        <div class="check-in-text">Check In</div>
                        <div class="date-text">Tue, Jul 27</div>
                    </div>
                    <div class="col-xs-6 check-out-col">
                        <div class="check-in-text">Check Out</div>
                        <div class="date-text">Tue, Jul 27</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-of-rooms-row">
            <div class="col-xs-12">
                <div class="row people-number-row">
                    <div class="col-xs-6 people-col">
                        <div class="people-text">Adult</div>
                        <div class="desc-text">Older than 12 years</div>
                    </div>
                    <div class="col-xs-6 rooms-count-col">
                        <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                        <div class="people-text room-text">2</div>
                        <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-of-rooms-row">
            <div class="col-xs-12">
                <div class="row people-number-row">
                    <div class="col-xs-6 people-col">
                        <div class="people-text">Children</div>
                        <div class="desc-text">0 - 12 years</div>
                    </div>
                    <div class="col-xs-6 rooms-count-col">
                        <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                        <div class="people-text room-text">2</div>
                        <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-of-rooms-row rooms-row">
            <div class="col-xs-12">
                <div class="row people-number-row">
                    <div class="col-xs-6 people-col">
                        <div class="people-text">Room</div>
                    </div>
                    <div class="col-xs-6 rooms-count-col">
                        <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                        <div class="people-text room-text">2</div>
                        <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row room-type-col">
            <div class="col-xs-12">
                <div class="room-type">Room Type</div>
                <div class="room-type-name">Deluxe</div>
            </div>
        </div>
        <div class="row search-button-col">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>
