<div class="container-fluid">
    <div class="srearch-room-wrapper">
        <div class="container searchroom-container">
            <div class="row block-header">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="searchroom-header">
                        Search Room
                    </div>
                    <div class="searchroom-header-tag">
                        Search available room for reservation
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="searchroom-header">
                        Search Room
                    </div>
                    <div class="searchroom-header-tag">
                        Search available room for reservation
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="searchroom-header">
                        Search Room
                    </div>
                    <div class="searchroom-header-tag">
                        Search available room for reservation
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="searchroom-header">
                        Search Room
                    </div>
                    <div class="searchroom-header-tag">
                        Search available room for reservation
                    </div>
                </div>
            </div>
            <div class="row date-row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="row check-in-out-row">
                        <div class="col-xs-6 check-in-col">
                            <div class="check-in-text">Check In</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                        <div class="col-xs-6 check-out-col">
                            <div class="check-in-text">Check Out</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="row check-in-out-row">
                        <div class="col-sm-3 check-in-col">
                            <div class="check-in-text">Check In</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                        <div class="col-sm-3 check-out-col">
                            <div class="check-in-text">Check Out</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="row check-in-out-row">
                        <div class="col-md-3 check-in-col">
                            <div class="check-in-text">Check In</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                        <div class="col-md-3 check-out-col">
                            <div class="check-in-text">Check Out</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="row check-in-out-row">
                        <div class="col-lg-3 check-in-col">
                            <div class="check-in-text">Check In</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                        <div class="col-lg-3 check-out-col">
                            <div class="check-in-text">Check Out</div>
                            <div class="date-text">Tue, Jul 27</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row no-of-rooms-row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="row people-number-row">
                        <div class="col-xs-6 people-col">
                            <div class="people-text">Adult</div>
                            <div class="desc-text">Older than 12 years</div>
                        </div>
                        <div class="col-xs-6 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="row people-number-row">
                        <div class="col-sm-3 people-col">
                            <div class="people-text">Adult</div>
                            <div class="desc-text">Older than 12 years</div>
                        </div>
                        <div class="col-sm-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="row people-number-row">
                        <div class="col-md-3 people-col">
                            <div class="people-text">Adult</div>
                            <div class="desc-text">Older than 12 years</div>
                        </div>
                        <div class="col-md-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="row people-number-row">
                        <div class="col-lg-3 people-col">
                            <div class="people-text">Adult</div>
                            <div class="desc-text">Older than 12 years</div>
                        </div>
                        <div class="col-lg-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-of-rooms-row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="row people-number-row">
                        <div class="col-xs-6 people-col">
                            <div class="people-text">Children</div>
                            <div class="desc-text">0 - 12 years</div>
                        </div>
                        <div class="col-xs-6 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="row people-number-row">
                        <div class="col-sm-3 people-col">
                            <div class="people-text">Children</div>
                            <div class="desc-text">0 - 12 years</div>
                        </div>
                        <div class="col-sm-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="row people-number-row">
                        <div class="col-md-3 people-col">
                            <div class="people-text">Children</div>
                            <div class="desc-text">0 - 12 years</div>
                        </div>
                        <div class="col-md-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="row people-number-row">
                        <div class="col-lg-3 people-col">
                            <div class="people-text">Children</div>
                            <div class="desc-text">0 - 12 years</div>
                        </div>
                        <div class="col-lg-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-of-rooms-row rooms-row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="row people-number-row">
                        <div class="col-xs-6 people-col">
                            <div class="people-text">Room</div>
                        </div>
                        <div class="col-xs-6 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="row people-number-row">
                        <div class="col-sm-3 people-col">
                            <div class="people-text">Room</div>
                        </div>
                        <div class="col-sm-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="row people-number-row">
                        <div class="col-md-3 people-col">
                            <div class="people-text">Room</div>
                        </div>
                        <div class="col-md-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="row people-number-row">
                        <div class="col-lg-3 people-col">
                            <div class="people-text">Room</div>
                        </div>
                        <div class="col-lg-3 rooms-count-col">
                            <div><span class="glyphicon glyphicon-minus-sign"></span></div>
                            <div class="people-text room-text">2</div>
                            <div><span class="glyphicon glyphicon-plus-sign"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row room-type-col">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="room-type">Room Type</div>
                    <div class="room-type-name">Deluxe</div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="room-type">Room Type</div>
                    <div class="room-type-name">Deluxe</div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="room-type">Room Type</div>
                    <div class="room-type-name">Deluxe</div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="room-type">Room Type</div>
                    <div class="room-type-name">Deluxe</div>
                </div>
            </div>
            <div class="row search-button-col">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <button type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="last-reserve-panel">
        <div class="container">
            <div class="row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="last-reservation-row">
                        <div class="last-reservation-text">Last Reservation</div>
                        <div class="menu-icon">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="last-reservation-row">
                        <div class="last-reservation-text">Last Reservation</div>
                        <div class="menu-icon">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="last-reservation-row">
                        <div class="last-reservation-text">Last Reservation</div>
                        <div class="menu-icon">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="last-reservation-row">
                        <div class="last-reservation-text">Last Reservation</div>
                        <div class="menu-icon">
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="room-details">
                        <div class="image-div">
                            <img class="img-rounded"
                                src="https://tse4.mm.bing.net/th?id=OIP.8UM_fRahhVJbbwiO2ioMjgHaE8&pid=Api&P=0&w=269&h=180"
                                alt="Luxury bed">
                        </div>
                        <div class="room-details-text-div">
                            <div class="money">&#36;256/night</div>
                            <div class="bed-size">Luxury king Size</div>
                            <div class="date-range">24 Jul - 26 Jul</div>
                        </div>
                        <div class="chevron-right"><span class="glyphicon glyphicon-chevron-right"></span></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="room-details">
                        <div class="image-div">
                            <img class="img-rounded"
                                src="https://tse4.mm.bing.net/th?id=OIP.8UM_fRahhVJbbwiO2ioMjgHaE8&pid=Api&P=0&w=269&h=180"
                                alt="Luxury bed">
                        </div>
                        <div class="room-details-text-div">
                            <div class="money">&#36;256/night</div>
                            <div class="bed-size">Luxury king Size</div>
                            <div class="date-range">24 Jul - 26 Jul</div>
                        </div>
                        <div class="chevron-right"><span class="glyphicon glyphicon-chevron-right"></span></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="room-details">
                        <div class="image-div">
                            <img class="img-rounded"
                                src="https://tse4.mm.bing.net/th?id=OIP.8UM_fRahhVJbbwiO2ioMjgHaE8&pid=Api&P=0&w=269&h=180"
                                alt="Luxury bed">
                        </div>
                        <div class="room-details-text-div">
                            <div class="money">&#36;256/night</div>
                            <div class="bed-size">Luxury king Size</div>
                            <div class="date-range">24 Jul - 26 Jul</div>
                        </div>
                        <div class="chevron-right"><span class="glyphicon glyphicon-chevron-right"></span></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="room-details">
                        <div class="image-div">
                            <img class="img-rounded"
                                src="https://tse4.mm.bing.net/th?id=OIP.8UM_fRahhVJbbwiO2ioMjgHaE8&pid=Api&P=0&w=269&h=180"
                                alt="Luxury bed">
                        </div>
                        <div class="room-details-text-div">
                            <div class="money">&#36;256/night</div>
                            <div class="bed-size">Luxury king Size</div>
                            <div class="date-range">24 Jul - 26 Jul</div>
                        </div>
                        <div class="chevron-right"><span class="glyphicon glyphicon-chevron-right"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>