@media (max-width : 455px) {
    .srearch-room-wrapper{
        position: absolute;
        top: 12rem;
        left: 5%;
    }
    .srearch-room-wrapper-active{
        position: absolute;
        top: 12rem;
        left: 22%;
    }
}