.logo{
    width: 197px;
    height: 56px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    color: #DEDEDE;
    margin: 16px 95px;
}
.rpasswd{
    width: 169px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #EBEBEB;
    margin: 16px 112px;
}
.recover-text{
    width: 304px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #EBEBEB;
    margin: 48px 50px;
}
.ref-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #A3A3A3;
    justify-content: center;
}
.link-content{
    padding: 4%;
    cursor: pointer;
}