<div class="container-fluid">
    <div class="container">
        <div class="row">
            <!-- column for xs  -->
            <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
            <div class="contact-header">
                <div class="contact-logo">
                    <i class='bx bxs-contact'></i>
                </div>
                <div class="header-div">
                    <h4 class="header">Contacts</h4>
                    <div>
                        <h6 class="sub-header-tag">Welcome to FULCRUM Contact page</h6>
                    </div>
                </div>
            </div>
            </div>
            <!-- column for sm  -->
            <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                <div class="contact-header">
                    <div class="contact-logo">
                        <i class='bx bxs-contact'></i>
                    </div>
                    <div class="header-div">
                        <h4 class="header">Contacts</h4>
                        <div>
                            <h6 class="sub-header-tag">Welcome to FULCRUM Contact page</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column for md  -->
            <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                <div class="contact-header">
                    <div class="contact-logo">
                        <i class='bx bxs-contact'></i>
                    </div>
                    <div class="header-div">
                        <h4 class="header">Contacts</h4>
                        <div>
                            <h6 class="sub-header-tag">Welcome to FULCRUM Contact page</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column for lg  -->
            <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-3">
                <div class="contact-header">
                    <div class="contact-logo">
                        <i class='bx bxs-contact'></i>
                    </div>
                    <div class="header-div">
                        <h4 class="header">Contacts</h4>
                        <div>
                            <h6 class="sub-header-tag">Welcome to FULCRUM Contact page</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row search-div">
            <!-- 1 and 2 columns for xs  -->
            <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-11">
                <div class="search">
                    <input (keyup)="filterBy('search-xs')" type="text" class="searchTerm" placeholder="Search contacts"
                        id="search-xs">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-5">
                <button class="btn btn-xs-default" (click)="onAddContact('row','Add',0)">
                    <i class='bx bx-plus'></i> &nbsp; Add Contact
                </button>
            </div>
            <!-- 1 and 2 columns for sm  -->
            <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-5 col-sm-offset-1">
                <div class="search">
                    <input (keyup)="filterBy('search-sm')" type="text" class="searchTerm" placeholder="Search contacts"
                        id="search-sm">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-3">
                <button class="btn btn-sm-default" (click)="onAddContact('row','Add',0)">
                    <i class='bx bx-plus'></i> &nbsp; Add Contact
                </button>
            </div>
            <!-- 1 and 2 columns for md  -->
            <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-4 col-md-offset-1">
                <div class="search">
                    <input (keyup)="filterBy('search-md')" type="text" class="searchTerm" placeholder="Search contacts"
                        id="search-md">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-2">
                <button class="btn btn-md-default" (click)="onAddContact('row','Add',0)">
                    <i class='bx bx-plus'></i> &nbsp; Add Contact
                </button>
            </div>
            <!-- 1 and 2 columns for lg  -->
            <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-4 col-lg-offset-1">
                <div class="search">
                    <input (keyup)="filterBy('search-lg')" type="text" class="searchTerm" placeholder="Search contacts"
                        id="search-lg">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-2">
                <button class="btn btn-lg-default" (click)="onAddContact('row','Add',0)">
                    <i class='bx bx-plus'></i> &nbsp; Add Contact
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row content-row">
            <!-- 1 and 2 cols for xs  -->
            <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                <table [ngClass]="(data?.length <= 7)?'table':'table-scroll'">
                    <tr>
                        <th>+</th>
                        <th class="basic-info-header" style="padding-left: 7%;">Basic info</th>
                        <th class="company-header">Company</th>
                        <th class="edit-header">Edit</th>
                    </tr>
                    <ng-container *ngFor="let row of data; let i = index">
                        <tr class="content-list" (click)="onRowClick(i)">
                            <td>
                                <input type="checkbox" name="" id="check-box">
                            </td>
                            <td>
                                <div class="basic-info-content">
                                    <div class="circle" id="xs{{row.id}}" [style.background-color]="row.color">{{row.short_name}}</div>
                                    <div class="name-email-div">
                                        <div>
                                            {{row.full_name}}
                                        </div>
                                        <div class="email">
                                            {{row.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{row.company}}</td>
                            <td (click)="onAddContact(row,'Edit',i)"><i class='bx bx-edit-alt'></i></td>
                        </tr>
                    </ng-container>
                </table>
            </div>
            <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12 column2">
                <div class="contact-col-details">
                    <div class="contact-details">
                        <div>
                            <div class="contact-details-circle" id="contact-circle-xs" [style.background-color]="arr_on_row_click?.color">
                                {{arr_on_row_click?.short_name}}</div>
                            <div class="contact-details-name">{{arr_on_row_click?.full_name}}</div>
                            <div class="contact-details-role">{{arr_on_row_click?.role}}</div>
                        </div>
                    </div>
                    <div class="contact-details-keys">
                        <div class="contact-details-div contact-details-full-name">
                            <div class="contact-details-subdiv-1">Full name:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.full_name}}</div>
                        </div>
                        <div class="contact-details-div contact-details-email">
                            <div class="contact-details-subdiv-1">Email:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.email}}</div>
                        </div>
                        <div class="contact-details-div contact-details-phone">
                            <div class="contact-details-subdiv-1">Phone:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.phno}}</div>
                        </div>
                        <div class="contact-details-div contact-details-company">
                            <div class="contact-details-subdiv-1">Company:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.company}}</div>
                        </div>
                        <div class="contact-details-div contact-details-address">
                            <div class="contact-details-subdiv-1">Address:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.address}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1 and 2 cols for sm  -->
            <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6 col-sm-offset-1">
                <table [ngClass]="(data?.length <= 7)?'table':'table-scroll'">
                    <tr>
                        <th>+</th>
                        <th class="basic-info-header" style="padding-left: 7%;">Basic info</th>
                        <th class="company-header">Company</th>
                        <th class="edit-header">Edit</th>
                    </tr>
                    <ng-container *ngFor="let row of data; let i = index">
                        <tr class="content-list" (click)="onRowClick(i)">
                            <td>
                                <input type="checkbox" name="" id="check-box">
                            </td>
                            <td>
                                <div class="basic-info-content">
                                    <div class="circle" id="sm{{row.id}}" [style.background-color]="row.color">{{row.short_name}}</div>
                                    <div class="name-email-div">
                                        <div>
                                            {{row.full_name}}
                                        </div>
                                        <div class="email">
                                            {{row.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{row.company}}</td>
                            <td (click)="onAddContact(row,'Edit',i)"><i class='bx bx-edit-alt'></i></td>
                        </tr>
                    </ng-container>
                </table>
            </div>
            <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-5 column2">
                <div class="contact-col-details">
                    <div class="contact-details">
                        <div>
                            <div class="contact-details-circle" id="contact-circle-sm" [style.background-color]="arr_on_row_click?.color">
                                {{arr_on_row_click?.short_name}}</div>
                            <div class="contact-details-name">{{arr_on_row_click?.full_name}}</div>
                            <div class="contact-details-role">{{arr_on_row_click?.role}}</div>
                        </div>
                    </div>
                    <div class="contact-details-keys">
                        <div class="contact-details-div contact-details-full-name">
                            <div class="contact-details-subdiv-1">Full name:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.full_name}}</div>
                        </div>
                        <div class="contact-details-div contact-details-email">
                            <div class="contact-details-subdiv-1">Email:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.email}}</div>
                        </div>
                        <div class="contact-details-div contact-details-phone">
                            <div class="contact-details-subdiv-1">Phone:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.phno}}</div>
                        </div>
                        <div class="contact-details-div contact-details-company">
                            <div class="contact-details-subdiv-1">Company:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.company}}</div>
                        </div>
                        <div class="contact-details-div contact-details-address">
                            <div class="contact-details-subdiv-1">Address:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.address}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1 and 2 cols for md  -->
            <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6 col-md-offset-1">
                <table [ngClass]="(data?.length <= 7)?'table':'table-scroll'">
                    <tr>
                        <th>+</th>
                        <th class="basic-info-header" style="padding-left: 7%;">Basic info</th>
                        <th class="company-header">Company</th>
                        <th class="edit-header">Edit</th>
                    </tr>
                    <ng-container *ngFor="let row of data; let i = index">
                        <tr class="content-list" (click)="onRowClick(i)">
                            <td>
                                <input type="checkbox" name="" id="check-box">
                            </td>
                            <td>
                                <div class="basic-info-content">
                                    <div class="circle" id="md{{row.id}}" [style.background-color]="row.color">{{row.short_name}}</div>
                                    <div class="name-email-div">
                                        <div>
                                            {{row.full_name}}
                                        </div>
                                        <div class="email">
                                            {{row.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{row.company}}</td>
                            <td (click)="onAddContact(row,'Edit',i)"><i class='bx bx-edit-alt'></i></td>
                        </tr>
                    </ng-container>
                </table>
            </div>
            <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-4 column2">
                <div class="contact-col-details">
                    <div class="contact-details">
                        <div>
                            <div class="contact-details-circle" id="contact-circle-md" [style.background-color]="arr_on_row_click?.color">
                                {{arr_on_row_click?.short_name}}</div>
                            <div class="contact-details-name">{{arr_on_row_click?.full_name}}</div>
                            <div class="contact-details-role">{{arr_on_row_click?.role}}</div>
                        </div>
                    </div>
                    <div class="contact-details-keys">
                        <div class="contact-details-div contact-details-full-name">
                            <div class="contact-details-subdiv-1">Full name:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.full_name}}</div>
                        </div>
                        <div class="contact-details-div contact-details-email">
                            <div class="contact-details-subdiv-1">Email:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.email}}</div>
                        </div>
                        <div class="contact-details-div contact-details-phone">
                            <div class="contact-details-subdiv-1">Phone:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.phno}}</div>
                        </div>
                        <div class="contact-details-div contact-details-company">
                            <div class="contact-details-subdiv-1">Company:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.company}}</div>
                        </div>
                        <div class="contact-details-div contact-details-address">
                            <div class="contact-details-subdiv-1">Address:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.address}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 1 and 2 cols for lg  -->
            <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6 col-lg-offset-1">
                <table [ngClass]="(data?.length <= 7)?'table':'table-scroll'">
                    <tr>
                        <th>+</th>
                        <th class="basic-info-header" style="padding-left: 7%;">Basic info</th>
                        <th class="company-header">Company</th>
                        <th class="edit-header">Edit</th>
                    </tr>
                    <ng-container *ngFor="let row of data; let i = index">
                        <tr class="content-list" (click)="onRowClick(i)">
                            <td>
                                <input type="checkbox" name="" id="check-box">
                            </td>
                            <td>
                                <div class="basic-info-content">
                                    <div class="circle" id="lg{{row.id}}" [style.background-color]="row.color">{{row.short_name}}</div>
                                    <div class="name-email-div">
                                        <div>
                                            {{row.full_name}}
                                        </div>
                                        <div class="email">
                                            {{row.email}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{row.company}}</td>
                            <td (click)="onAddContact(row,'Edit',i)"><i class='bx bx-edit-alt'></i></td>
                        </tr>
                    </ng-container>
                </table>
            </div>
            <div *ngIf="showColumn()" class="hidden-xs hidden-sm hidden-md visible-lg col-lg-4 column2">
                <div class="contact-col-details">
                    <div class="contact-details">
                        <div>
                            <div class="contact-details-circle" id="contact-circle-lg" [style.background-color]="arr_on_row_click?.color">
                                {{arr_on_row_click?.short_name}}</div>
                            <div class="contact-details-name">{{arr_on_row_click?.full_name}}</div>
                            <div class="contact-details-role">{{arr_on_row_click?.role}}</div>
                        </div>
                    </div>
                    <div class="contact-details-keys">
                        <div class="contact-details-div contact-details-full-name">
                            <div class="contact-details-subdiv-1">Full name:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.full_name}}</div>
                        </div>
                        <div class="contact-details-div contact-details-email">
                            <div class="contact-details-subdiv-1">Email:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.email}}</div>
                        </div>
                        <div class="contact-details-div contact-details-phone">
                            <div class="contact-details-subdiv-1">Phone:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.phno}}</div>
                        </div>
                        <div class="contact-details-div contact-details-company">
                            <div class="contact-details-subdiv-1">Company:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.company}}</div>
                        </div>
                        <div class="contact-details-div contact-details-address">
                            <div class="contact-details-subdiv-1">Address:</div>
                            <div class="contact-details-subdiv-2">{{arr_on_row_click?.address}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>