<div class="searchbar-wrapper">
    <div class="container-fluid">
        <div class="container search-container">
            <div class="row searchbar-row">
                <!-- cols for xs screen size  -->
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input (keyup)="filterBy('search-xs')" type="search" id="search-xs" class="form-control" placeholder="Search room name, other facilities">
                    </div>
                </div>
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-1 notification-icon">
                    <i class="material-icons">&#xe7f5;</i>
                </div>
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-1 envelope-div">
                    <span id="group">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-light">.</span>
                    </span>
                </div>
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-9 user-dropdown">
                    <div class="row">
                        <div class="col-xs-2 sub-row-circle-div">
                            <div class="circle">
                                <img src="https://img.icons8.com/office/40/000000/user.png" />
                            </div>
                        </div>
                        <div class="col-xs-4 sub-row-text-div">
                            <div style="font-weight: bold;font-size: x-small;color: #51545E;">
                                Brooklyn Simmons
                            </div>
                            <div style="color: #969A9E;font-size: smaller;">
                                Head Manager
                            </div>
                        </div>
                        <div class="col-xs-2 sub-row-menu-div">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>
                <!-- cols for sm screen size  -->
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input (keyup)="filterBy('search-sm')"  id="search-sm" type="search" class="form-control" placeholder="Search room name, other facilities">
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-1 notification-icon">
                    <i class="material-icons">&#xe7f5;</i>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-1 envelope-div">
                    <span id="group">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-light">.</span>
                    </span>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-3 user-dropdown">
                    <div class="row">
                        <div class="col-sm-2 sub-row-circle-div">
                            <div class="circle">
                                <img src="https://img.icons8.com/office/40/000000/user.png" />
                            </div>
                        </div>
                        <div class="col-sm-4 sub-row-text-div">
                            <div style="font-weight: bold;font-size: x-small;color: #51545E;">
                                Brooklyn Simmons
                            </div>
                            <div style="color: #969A9E;font-size: smaller;">
                                Head Manager
                            </div>
                        </div>
                        <div class="col-sm-1 sub-row-menu-div">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>
                <!-- cols for md screen size  -->
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input (keyup)="filterBy('search-md')"   id="search-md" type="search" class="form-control" placeholder="Search room name, other facilities">
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-1 notification-icon">
                    <i class="material-icons">&#xe7f5;</i>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-1 envelope-div">
                    <span id="group">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-light">.</span>
                    </span>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-3 user-dropdown">
                    <div class="row">
                        <div class="col-md-1 sub-row-circle-div">
                            <div class="circle">
                                <img src="https://img.icons8.com/office/40/000000/user.png" />
                            </div>
                        </div>
                        <div class="col-md-2 sub-row-text-div">
                            <div style="font-weight: bold;font-size: x-small;color: #51545E;">
                                Brooklyn Simmons
                            </div>
                            <div style="color: #969A9E;font-size: smaller;">
                                Head Manager
                            </div>
                        </div>
                        <div class="col-md-1 sub-row-menu-div">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>
                <!-- cols for lg size screen size  -->
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input (keyup)="filterBy('search-lg')"   id="search-lg" type="search" class="form-control" placeholder="Search room name, other facilities">
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-1 notification-icon">
                    <i class="material-icons">&#xe7f5;</i>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-1">
                    <span id="group">
                        <div class="badge-notification">
                            <i class="fa fa-envelope-o badge"></i>
                        </div>
                    </span>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-3  user-dropdown">
                    <div class="row">
                        <div class="col-lg-1 sub-row-circle-div">
                            <div class="circle">
                                <img src="https://img.icons8.com/office/40/000000/user.png" />
                            </div>
                        </div>
                        <div class="col-lg-2 sub-row-text-div">
                            <div style="font-weight: bold;font-size: small;color: #51545E;">
                                Brooklyn Simmons
                            </div>
                            <div style="color: #969A9E;font-size: smaller;">
                                Head Manager
                            </div>
                        </div>
                        <div class="col-lg-1 sub-row-menu-div">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>