<div class="searchbar-wrapper">
    <div class="container-fluid">
        <div class="container">
            <div class="row searchbar-row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="search" class="form-control" placeholder="Search room name, other facilities">
                    </div>
                </div>
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-1 notification-icon">
                    <i class="material-icons">&#xe7f5;</i>
                </div>
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-1">
                    <span id="group">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-light">.</span>
                    </span>
                </div>
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-9">
                    <div class="row">
                        <div class="col-xs-2 sub-row-circle-div">
                            <div class="circle">
                                <img src="https://img.icons8.com/office/40/000000/user.png" />
                            </div>
                        </div>
                        <div class="col-xs-4 sub-row-text-div">
                            <div style="font-weight: bold;font-size: x-small;color: #51545E;">
                                Brooklyn Simmons
                            </div>
                            <div style="color: #969A9E;font-size: smaller;">
                                Head Manager
                            </div>
                        </div>
                        <div class="col-xs-2 sub-row-menu-div">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                dustry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                Why do we use it?
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                Where does it come from?
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
                Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their
                exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

                Where can I get some?
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anyt
            </div>
        </div>
    </div>
</div>