.logo{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #DEDEDE;
    text-align: center;
}
.fpasswd{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #EBEBEB;
    flex-grow: 0;
    margin-top: 7%;
    text-align: center;
}
.eaddress{
    position: static;
    padding-top: 8%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #A3A3A3;
    margin-left: 6%;
}
.form{
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #3D3D3D;
    color: #EBEBEB;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 6%;
}
.mat-form-field{
    position: static;
    width: 100%;
}
.btnrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 4%;
    position: static;
}
.backtext{
    color: #A3A3A3;
    align-self: center;
    cursor: pointer;
    margin-left: 6%;
}
.submitbtn{
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3% 6%;
    background: #1F1F1F;
    border-radius: 4px;
    margin-left: 40%;
    color: #E0E0E0;
    font-size: 15px;
    letter-spacing: 0.1px;
    cursor: pointer;
}
mat-form-field ::ng-deep .mat-form-field-underline {
    height: 1px;
    border-bottom: 1px solid #ffffff;
}
mat-form-field ::ng-deep .mat-form-field-underline .mat-form-field-ripple{
        width: 0%;
}