<div>
    <div class="logo">Wave Logo</div>
    <div class="fpasswd">Forgot Password</div>
    <div class="eaddress">Email Address</div>
    <div class="form" [formGroup]="remailForm">
        <mat-form-field [ngClass]="(this.remailForm.controls.email.valid) ? 'mat-form-field valid-class' : 'mat-form-field err-class'">
            <input matInput type="email" formControlName="email">
        </mat-form-field>
    </div>
    <div class="btnrow">
        <div class="backtext"><a (click)="navigateTo()">Back to Login</a></div>
        <div class="submitbtn" (click)="onSubmit()">Submit</div>
    </div>
</div>