.logo{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #DEDEDE;
    text-align: center;
}
.fpasswd{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #EBEBEB;
    flex-grow: 0;
    margin-top: 7%;
    text-align: center;
}
.eaddress{
    position: static;
    padding-top: 8%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #A3A3A3;
    margin-left: 6%;
}
.form{
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #3D3D3D;
    color: #EBEBEB;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 6%;
}
.mat-form-field{
    position: static;
    width: 100%;
}
.btnrow{
    position: static;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}
.backtext{
    position: static;
    color: #A3A3A3;
    align-self: center;
    cursor: pointer;
    margin-left: 6%;
}
.submitbtn{
    position: static;
    flex-wrap: wrap;
    color: #E0E0E0;
    padding: 3% 6%;
    background: #1F1F1F;
    border-radius: 4px;
    cursor: pointer;
}
.valid-class ::ng-deep .mat-form-field-ripple{
    height: 1px;
    background-color: #ffffff !important;
}
.valid-class ::ng-deep .mat-form-field-underline {
    height: 0.2px;
    background-color: #ffffff;
}

.err-class ::ng-deep .mat-form-field-underline {
    height: 0.2px;
    background-color: #f70606;
}
.err-class ::ng-deep .mat-form-field-ripple{
    height: 1px;
    background-color: #f70606 !important;
}
input{
    caret-color: #ffffff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #3D3D3D inset !important;
  -webkit-text-fill-color: #EBEBEB;
}