<div>
    <div class="logo">Wave Logo</div>
    <div class="fpasswd">Forgot Password</div>
    <div class="eaddress">Email Address</div>
    <div class="form" [formGroup]="forgotForm">
        <div class="formfield">
            <mat-form-field class="mat-form-field">
                <input matInput type="email" formControlName="email">
            </mat-form-field>
        </div>
    </div>
    <div class="btnrow">
        <div class="backtext"><a (click)="navigateTo()">Back to Login</a></div>
        <div class="submitbtn" (click)="onSubmit()">Submit</div>
    </div>
</div>