<div class="wrapper">
    <div class="wrapper-header">
        <div><h2>{{data.type}} Contact</h2></div>
        <div (click)="onCancel()"><i class='bx bx-window-close'></i></div>
    </div>
    <div [formGroup]="modalForm">
        <div class="full-name">
            <mat-form-field class="mat-form-field">
                <input matInput type="text" formControlName="full_name" placeholder="Full Name">
                <mat-error *ngIf="modalForm.controls.full_name.value === ''">Please enter Full Name.</mat-error>
            </mat-form-field>
        </div>
        <div class="role">
            <mat-form-field class="mat-form-field">
                <input matInput type="text" formControlName="role" placeholder="Role">
                <mat-error *ngIf="modalForm.controls.role.value === ''">Please enter Role.</mat-error>
            </mat-form-field>
        </div>
        <div class="email">
            <mat-form-field class="mat-form-field">
                <input matInput type="email" formControlName="email" placeholder="Email">
                <mat-error *ngIf="modalForm.controls.email.value === ''">Please enter email.</mat-error>
            </mat-form-field>
        </div>
        <div class="phno">
            <mat-form-field class="mat-form-field">
                <input matInput type="text" maxlength="14" formControlName="phno" placeholder="Pnone Number - eg: +(xxx)xxx-xxxx">
                <mat-error *ngIf="modalForm.controls.phno.value === ''">Please enter pnone number.</mat-error>
            </mat-form-field>
        </div>
        <div class="company">
            <mat-form-field class="mat-form-field">
                <input matInput type="text" maxlength="50" formControlName="company" placeholder="Company">
                <mat-error *ngIf="modalForm.controls.company.value === ''">Please enter company.</mat-error>
            </mat-form-field>
        </div>
        <div class="address">
            <mat-form-field class="mat-form-field">
                <input matInput type="text" maxlength="100" formControlName="address" placeholder="Address">
                <mat-error *ngIf="modalForm.controls.address.value === ''">Please enter address.</mat-error>
            </mat-form-field>
        </div>
        <div class="btn btn-default" (click)="onSubmit()">
            Submit
        </div>
    </div>
</div>