<div class="container-fluid">
    <div class="availablerooms-wrapper">
        <div class="container availablerooms-container">
            <div class="row availablerooms-header">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div>
                        Available Rooms
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div>
                        Available Rooms
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div>
                        Available Rooms
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div>
                        Available Rooms
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="sort-row">
                        <div class="available-text">120+ Room Available</div>
                        <div class="sort-text"><span
                                class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;<span>Sort
                                by:</span>&nbsp;<span class="relevance">Relevance</span>&nbsp;<span
                                class="glyphicon glyphicon-menu-down"></span></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-6">
                    <div class="sort-row">
                        <div class="available-text">120+ Room Available</div>
                        <div class="sort-text"><span
                                class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;<span>Sort
                                by:</span>&nbsp;<span class="relevance">Relevance</span>&nbsp;<span
                                class="glyphicon glyphicon-menu-down"></span></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-6">
                    <div class="sort-row">
                        <div class="available-text">120+ Room Available</div>
                        <div class="sort-text"><span
                                class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;<span>Sort
                                by:</span>&nbsp;<span class="relevance">Relevance</span>&nbsp;<span
                                class="glyphicon glyphicon-menu-down"></span></div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-6">
                    <div class="sort-row">
                        <div class="available-text">120+ Room Available</div>
                        <div class="sort-text"><span
                                class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;<span>Sort
                                by:</span>&nbsp;<span class="relevance">Relevance</span>&nbsp;<span
                                class="glyphicon glyphicon-menu-down"></span></div>
                    </div>
                </div>
            </div>
            <div class="row buttonbox">
                <div class="hidden-sm hidden-md hidden-lg visible-xs col-xs-12">
                    <div class="buttonrow wrap">
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'allrooms')" id="allrooms"
                                class="btn btn-default firstbtn">All Rooms</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'deluxe')" id="deluxe"
                                class="btn btn-default firstbtn">Deluxe</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'standart')" id="standart"
                                class="btn btn-default firstbtn">Standart</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'presidential')"
                                id="presidential" class="btn btn-default firstbtn">Presidential</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'suite')" id="suite"
                                class="btn btn-default firstbtn">Suite</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'juniorsuite')"
                                id="juniorsuite" class="btn btn-default firstbtn">Junior Suite</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'twinroom')" id="twinroom"
                                class="btn btn-default firstbtn">Twin Room</button>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-md hidden-lg visible-sm col-sm-12">
                    <div class="buttonrow wrap">
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'allrooms')" id="allrooms"
                                class="btn btn-default firstbtn">All Rooms</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'deluxe')" id="deluxe"
                                class="btn btn-default firstbtn deluxe active">Deluxe</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'standart')" id="standart"
                                class="btn btn-default firstbtn">Standart</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'presidential')"
                                id="presidential" class="btn btn-default firstbtn">Presidential</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'suite')" id="suite"
                                class="btn btn-default firstbtn">Suite</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'juniorsuite')"
                                id="juniorsuite" class="btn btn-default firstbtn">Junior Suite</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'twinroom')" id="twinroom"
                                class="btn btn-default firstbtn">Twin Room</button>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-lg visible-md col-md-12">
                    <div class="buttonrow wrap">
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'allrooms')" id="allrooms"
                                class="btn btn-default firstbtn">All Rooms</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'deluxe')" id="deluxe"
                                class="btn btn-default firstbtn deluxe active">Deluxe</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'standart')" id="standart"
                                class="btn btn-default firstbtn">Standart</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'presidential')"
                                id="presidential" class="btn btn-default firstbtn">Presidential</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'suite')" id="suite"
                                class="btn btn-default firstbtn">Suite</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'juniorsuite')"
                                id="juniorsuite" class="btn btn-default firstbtn">Junior Suite</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'twinroom')" id="twinroom"
                                class="btn btn-default firstbtn">Twin Room</button>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs hidden-sm hidden-md visible-lg col-lg-12">
                    <div class="buttonrow wrap">
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'allrooms')" id="allrooms"
                                class="btn btn-default firstbtn">All Rooms</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'deluxe')" id="deluxe"
                                class="btn btn-default firstbtn deluxe active">Deluxe</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'standart')" id="standart"
                                class="btn btn-default firstbtn">Standart</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'presidential')"
                                id="presidential" class="btn btn-default firstbtn">Presidential</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'suite')" id="suite"
                                class="btn btn-default firstbtn">Suite</button></div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'juniorsuite')"
                                id="juniorsuite" class="btn btn-default firstbtn">Junior Suite</button>
                        </div>
                        <div class="flex-item"><button type="button" (click)="btnClick($event,'twinroom')" id="twinroom"
                                class="btn btn-default firstbtn">Twin Room</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll-div">
                <div class="row list-rooms-row">
                    <div class="room-list-div wrap">
                        <div class="parent-image-div">
                            <img class="img-rounded image1"
                                src="https://tse4.mm.bing.net/th?id=OIP.8UM_fRahhVJbbwiO2ioMjgHaE8&pid=Api&P=0&w=269&h=180"
                                alt="Luxury bed">
                            <img class="img-rounded image2"
                                src="https://images.vexels.com/media/users/3/127717/isolated/preview/a436d52393243d0fb8c4af42d29408c0-flipped-glossy-sale-tag-by-vexels.png"
                                alt="Luxury bed">
                        </div>
                        <div class="room-details">
                            <div class="room-details-text-div">
                                <div class="money">&#36;256/night</div>
                                <div class="bed-size">Luxury king Size</div>
                                <div class="eminities">
                                    <span>
                                        <i class='bx bx-bed'></i>&nbsp;Double Bed
                                        &nbsp;&nbsp;
                                        <i class='bx bx-bath'></i>&nbsp;Jacuzzi
                                        &nbsp;&nbsp;
                                        <i class="fa fa-glass" aria-hidden="true"></i>&nbsp;Bar
                                        &nbsp;&nbsp;
                                        <i class="fa fa-shower" aria-hidden="true"></i>&nbsp;Shower
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="room-indetail">
                            <div>Room Detail</div>
                        </div>
                        <div class="reserve-col">
                            <button type="button" class="btn btn-primary">Make Reservation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>