/* width */
::-webkit-scrollbar {
    width: 0;
  }
  .reserve-col button:focus {
    outline: none;
    border-color: #2779F4;
    border-radius: 2rem;
}
@media (max-width : 768px) {
    .availablerooms-container{
        overflow-x: scroll;
        padding: auto;
    }
    .container-fluid{
        padding: 0;
    }
    .availablerooms-wrapper{
        position: relative;
        top: 7rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .availablerooms-header{
        font-size: 1.8rem;
        font-weight: bold;
    }
    .col-xs-12{
        padding-left: 0;
    }
    .sort-row{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        align-content: center;
        justify-content: space-between;
    }
    .glyphicon-sort-by-attributes-alt{
        font-size: 1.3rem;
        color: #AEAFB7;
    }
    .glyphicon-menu-down{
        font-size: 0.8rem;
        color: #5486D2;
    }
    .relevance{
        font-size: 1.2rem;
        color: #5486D2;
        font-weight: bold;
    }
    .available-text,.sort-text{
        color: #A0A1A7;
        font-size: 1.2rem;
        font-weight: bold;
        width: 15rem;
    }
    .buttonrow{
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        margin-top: 1.5rem;
        font-size: 1rem;
    }
    .wrap{ 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-item {
        width: calc(100% / 2);
        box-sizing: border-box;
      }
    .buttonrow .btn{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 10rem;
    }
    .buttonrow .firstbtn{
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 1rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        color: gray;
        border: 1px solid #e4e4e4;
    }
    .deluxe.active{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    .buttonrow .firstbtn:focus,.firstbtn:active,.firstbtn:hover{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    /* newly added css classes */
    .room-list-div{
        display: flex;
        margin-top: 2rem;
    }
    .parent-image-div{
        position: relative;
        top: 0;
        left: 0;
    }
    .image1 {
        position: relative;
        top: 0;
        left: 1rem;
        width: 10rem;
        height: 8rem;
    }
    .image2 {
        position: absolute;
        top: -1rem;
        left: 0rem;
        width: 7rem;
        height: 6rem;
    }
    .list-rooms-row .room-details{
        padding: 0;
        width: auto;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .room-details-text-div .money{
        color: #9c9fa4;
        font-weight: 700;
    }
    .room-details-text-div .bed-size{
        color: #2F3548;
        font-weight: bold;
    }
    .room-details-text-div .eminities{
        color: #8D8E99;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .list-rooms-row .room-indetail{
        padding: 0;
        color: #5486D2;
        font-size: 1.3rem;
        width: auto;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .reserve-col{
        padding: 0;
        margin-left: 1rem;
        margin-top: 0rem;
    }
    .reserve-col .btn-primary {
        color: #fff;
        background-color: #2779F4;
        border-color: #2779F4;
        border-radius: 2rem;
    }
    .scroll-div{
        height: 60rem;
        width: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1%;
        margin-top: 2rem;
    }
}
@media (max-width : 460px) {
    .image1{
        position: relative;
        top: 0;
        left: 1rem;
        width: auto;
        height: auto;
    }
}
@media (min-width : 340px) {
    .flex-item {
        width: calc(100% / 3);
        box-sizing: border-box;
      }
}
@media (max-width : 340px) {
    .buttonrow .btn{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 10rem;
    }
}
@media (min-width : 460px) {
    .image1{
        position: relative;
        top: 0;
        left: 1rem;
        width: auto;
        height: auto;
    }
    .list-rooms-row .room-details {
        padding: 0;
        width: auto;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .list-rooms-row .room-indetail{
        padding: 0;
        color: #5486D2;
        font-size: 1.3rem;
        width: auto;
        font-weight: bold;
        margin-left: 2rem;
        margin-top: 0rem;
        align-self: center
    }
}
@media (min-width : 483px) {
    .image1{
        position: relative;
        top: 0;
        left: 1rem;
        width: 10rem;
        height: 8rem;
    }
}
@media (min-width : 530px) {
    .flex-item {
        width: calc(100% / 4);
        box-sizing: border-box;
      }
}
@media (min-width : 620px) {
    .list-rooms-row .room-indetail {
        padding: 0;
        color: #5486D2;
        font-size: 1.3rem;
        width: auto;
        font-weight: bold;
        margin-left: 2rem;
        align-self: center;
    }
    .reserve-col {
        padding: 0;
        margin-left: 1rem;
        align-self: center;
    }
}
@media (min-width : 660px) {
    .flex-item {
        width: calc(100% / 5);
        box-sizing: border-box;
      }
}
@media (min-width : 730px) {
    .reserve-col{
        padding: 0;
        margin-left: 2rem;
        align-self: center;
    }
}
@media (min-width : 760px) {
    .flex-item {
        width: calc(100% / 6);
        box-sizing: border-box;
      }
}
@media (min-width : 768px) {
    .availablerooms-container{
        width: auto;
        padding: 0;
    }
    .availablerooms-wrapper{
        position: relative;
        top: auto;
        left: auto;
        margin-top: 2.5rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .availablerooms-header{
        font-size: 1.8rem;
        font-weight: bold;
    }
    .col-sm-6{
        padding-left: 0;
        width: 100%;
    }
    .sort-row{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        align-content: center;
        justify-content: space-between;
    }
    .glyphicon-sort-by-attributes-alt{
        font-size: 1.3rem;
        color: #AEAFB7;
    }
    .glyphicon-menu-down{
        font-size: 0.8rem;
        color: #5486D2;
    }
    .relevance{
        font-size: 1.2rem;
        color: #5486D2;
        font-weight: bold;
    }
    .available-text,.sort-text{
        color: #A0A1A7;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .buttonrow{
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        margin-top: 1.5rem;
        font-size: 1rem;
    }
    .wrap{ 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-item {
        width: calc(100% / 2);
        box-sizing: border-box;
      }
    .buttonrow .btn{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 10rem;
    }
    .buttonrow .firstbtn{
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 1rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        color: gray;
        border: 1px solid #e4e4e4;
    }
    .deluxe.active{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    .buttonrow .firstbtn:focus,.firstbtn:active,.firstbtn:hover{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    .room-list-div{
        display: flex;
        margin-top: 2rem;
    }
    .parent-image-div{
        position: relative;
        top: 0;
        left: 0;
    }
    .image1 {
        position: relative;
        top: 0;
        left: 1rem;
        width: 10rem;
        height: 8rem;
    }
    .image2 {
        position: absolute;
        top: -1rem;
        left: 0rem;
        width: 7rem;
        height: 6rem;
    }
    .list-rooms-row .room-details {
        padding: 0;
        width: auto;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .room-details-text-div .money{
        color: #9c9fa4;
        font-weight: 700;
    }
    .room-details-text-div .bed-size{
        color: #2F3548;
        font-weight: bold;
    }
    .room-details-text-div .eminities{
        color: #8D8E99;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .list-rooms-row .room-indetail {
        padding: 0;
        color: #5486D2;
        font-size: 1.3rem;
        width: auto;
        font-weight: bold;
        margin-left: 2rem;
        align-self: center;
    }
    .reserve-col{
        padding: 0;
        margin-left: 2rem;
        align-self: center;
    }
    .reserve-col .btn-primary {
        color: #fff;
        background-color: #2779F4;
        border-color: #2779F4;
        border-radius: 2rem;
    }
    .scroll-div{
        height: 60rem;
        width: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1%;
        margin-top: 2rem;
    }
}
@media (min-width : 768px) and (max-width: 783px) {
    .buttonrow .btn{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 12rem;
    }
}
@media (min-width : 768px) {
    .image1{
        position: relative;
        top: 0;
        left: 1rem;
        width: auto;
        height: auto;
    }       
}
@media (min-width: 783px) {
    .flex-item{
        width: calc(100% / 3);
        box-sizing: border-box;
    }
}
@media (min-width : 864px) {
    .flex-item{
        width: calc(100% / 3);
        box-sizing: border-box;
    }
}
@media (min-width : 900px) {
    .flex-item{
        width: calc(100% / 4);
        box-sizing: border-box;
    }
}
@media (min-width : 992px) {
    .availablerooms-container{
        width: auto;
    }
    .availablerooms-wrapper{
        position: relative;
        top: auto;
        left: auto;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2.5rem;
    }
    .availablerooms-header{
        font-size: 1.8rem;
        font-weight: bold;
    }
    .col-md-6{
        padding-left: 0;
        width: 100%;
    }
    .sort-row{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        align-content: center;
        justify-content: space-between;
    }
    .glyphicon-sort-by-attributes-alt{
        font-size: 1.3rem;
        color: #AEAFB7;
    }
    .glyphicon-menu-down{
        font-size: 0.8rem;
        color: #5486D2;
    }
    .relevance{
        font-size: 1.2rem;
        color: #5486D2;
        font-weight: bold;
    }
    .available-text,.sort-text{
        color: #A0A1A7;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .buttonrow{
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        margin-top: 1.5rem;
        font-size: 1rem;
    }
    .wrap{ 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-item {
        width: calc(100% / 4);
        box-sizing: border-box;
      }
    .buttonrow .btn{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 10rem;
    }
    .buttonrow .firstbtn{
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 1rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        color: gray;
        border: 1px solid #e4e4e4;
    }
    .deluxe.active{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    .buttonrow .firstbtn:focus,.firstbtn:active,.firstbtn:hover{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    .room-list-div{
        display: flex;
        margin-top: 2rem;
    }
    .parent-image-div{
        position: relative;
        top: 0;
        left: 0;
    }
    .image1 {
        position: relative;
        top: 0;
        left: 1rem;
        width: 10rem;
        height: 8rem;
    }
    .image2 {
        position: absolute;
        top: -1rem;
        left: 0rem;
        width: 7rem;
        height: 6rem;
    }
    .list-rooms-row .room-details {
        padding: 0;
        width: auto;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
    .room-details-text-div .money{
        color: #9c9fa4;
        font-weight: 700;
    }
    .room-details-text-div .bed-size{
        color: #2F3548;
        font-weight: bold;
    }
    .room-details-text-div .eminities{
        color: #8D8E99;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .list-rooms-row .room-indetail {
        padding: 0;
        color: #5486D2;
        font-size: 1.3rem;
        width: auto;
        font-weight: bold;
        margin-left: 2rem;
        align-self: center;
    }
    .reserve-col{
        padding: 0;
        margin-left: 2rem;
        align-self: center;
    }
    .reserve-col .btn-primary {
        color: #fff;
        background-color: #2779F4;
        border-color: #2779F4;
        border-radius: 2rem;
    }
    .scroll-div{
        height: 60rem;
        width: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1%;
        margin-top: 2rem;
    }
}
@media (min-width : 1024px) {
    .availablerooms-container{
        width: auto;
    }
    .flex-item {
        width: calc(100% / 4);
        box-sizing: border-box;
      }
}
@media (min-width : 1200px) {
    .availablerooms-container{
        width: auto;
    }
    .availablerooms-wrapper{
        position: relative;
        left: auto;
        margin-top: 2%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .availablerooms-header{
        font-size: 1.8rem;
        font-weight: bold;
    }
    .col-lg-6{
        padding-left: 0;
        width: 100%;
    }
    .sort-row{
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        align-content: center;
        justify-content: space-between;
    }
    .glyphicon-sort-by-attributes-alt{
        font-size: 1.3rem;
        color: #AEAFB7;
    }
    .glyphicon-menu-down{
        font-size: 0.8rem;
        color: #5486D2;
    }
    .relevance{
        font-size: 1.2rem;
        color: #5486D2;
        font-weight: bold;
    }
    .available-text,.sort-text{
        color: #A0A1A7;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .buttonrow{
        padding: 0;
        margin: 0;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        margin-top: 1.5rem;
        font-size: 1rem;
    }
    .wrap{ 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-item {
        width: calc(100% / 7);
        box-sizing: border-box;
      }
    .buttonrow .btn{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 10rem;
    }
    .buttonrow .firstbtn{
        margin-left: 0;
        margin-right: 1rem;
        margin-top: 1rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        color: gray;
        border: 1px solid #e4e4e4;
    }
    .deluxe.active{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    .buttonrow .firstbtn:focus,.firstbtn:active,.firstbtn:hover{
        border: 1px solid #5486D2;
        color: #5486D2;
        background-color: #F0F5FF;
        outline: none;
    }
    .room-list-div{
        display: flex;
        margin-top: 2rem;
        /* justify-content: space-between; */
    }
    .parent-image-div{
        position: relative;
        top: 0;
        left: 0;
    }
    .image1 {
        position: relative;
        top: 0;
        left: 1rem;
        width: 10rem;
        height: 8rem;
    }
    .image2 {
        position: absolute;
        top: -1rem;
        left: 0rem;
        width: 7rem;
        height: 6rem;
    }
    .list-rooms-row .room-details {
        padding: 0;
        margin-left: 3%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 42%;
    }
    .room-details-text-div .money{
        color: #9c9fa4;
        font-weight: 700;
    }
    .room-details-text-div .bed-size{
        color: #2F3548;
        font-weight: bold;
    }
    .room-details-text-div .eminities{
        color: #8D8E99;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .list-rooms-row .room-indetail {
        padding: 0;
        color: #5486D2;
        font-size: 1.3rem;
        width: auto;
        font-weight: bold;
        margin-left: 7rem;
        align-self: center;
        margin-right: 2rem;
    }
    .reserve-col{
        padding: 0;
        margin-left: 2rem;
        align-self: center;
    }
    .reserve-col .btn-primary {
        color: #fff;
        background-color: #2779F4;
        border-color: #2779F4;
        border-radius: 2rem;
    }
    .scroll-div{
        height: 60rem;
        width: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1%;
        margin-top: 2rem;
    }
}
@media (min-width : 1324px) {
    .list-rooms-row .room-details {
        padding: 0;
        margin-left: 3%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 60%;
    }
}
@media (min-width : 2225px) {
    .room-list-div{
        display: flex;
        margin-top: 2rem;
        justify-content: space-between;
    }
    .list-rooms-row .room-details {
        padding: 0;
        margin-left: 3%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: auto;
    }
}