.logo{
    position: static;
    width: 38%;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #DEDEDE;
    margin-left: 33%;
}
.rpasswd{
    width: 40%;
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #EBEBEB;
    flex-grow: 0;
    margin-top: 6%;
    margin-left: 35%;
}
.recover-text{
    position: static;
    width: 40%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #EBEBEB;
    margin-top: 8%;
    margin-left: 31%;
}
.ref-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #A3A3A3;
    justify-content: center;
    padding-top: 3%;
}
.link-content{
    padding: 2% 4% 0 4%;
    cursor: pointer;
}