.logo{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #DEDEDE;
    text-align: center;
}
.rpasswd{
    position: static;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #EBEBEB;
    flex-grow: 0;
    margin-top: 7%;
    text-align: center;
}
.recover-text{
    position: static;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #EBEBEB;
    margin-top: 10%;
}
.ref-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #A3A3A3;
    justify-content: center;
    padding-top: 10%;
}
.link-content{
    padding: 2% 4% 0 4%;
    cursor: pointer;
}